<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
        .fa-square-instagram{
          font-size:50px;

        }
        .fa-youtube{
          font-size:50px;

        }
        .fa-square-whatsapp{
          font-size:50px;

        }
    </style>
  </head>
  <body>
    {% block nth %}

    {% endblock %}

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-3 bg-dark text-white mt-2">
            <h3 class='text-center'>About Apollo Hospital: </h3>
            <h6><a href="#">Apollo Hospitals is one of the largest and most renowned healthcare providers in India. Founded in 1983 by Dr. Prathap C. Reddy in Chennai, Tamil Nadu, Apollo Hospitals has grown significantly over the years, offering advanced medical services, cutting-edge technology, and comprehensive healthcare facilities.</a></h6>
        </div>
        <div class="col-md-3 bg-dark text-white mt-2">
            <h3 class='text-center'>Our Services:</h3>
            <h6><a href="#">Oncology (Cancer Care)</a></h6>
            <h6><a href="#">Mental Health and Wellness</a></h6>
            <h6><a href="#">Rehabilitation and Physical Therapy</a></h6>
            <h6><a href="#">Mental Health and Wellness</a></h6>
            <h6><a href="#"> Nephrology and Urology</a></h6>
            <h6><a href="#">Transplant Services</a></h6>
            <h6><a href="#">Orthopedics and Joint Replacement</a></h6>
            <h6><a href="#">Neurology and Neurosurgery</a></h6>
            <h6><a href="#"> Women and Child Health</a></h6>
            <h6><a href="#">Pulmonology (Lung Care)</a></h6>

        </div>
        <div class="col-md-3 bg-dark text-white mt-2">
          <div class="social-icon">
            <h3 class='text-center'>Social Media:</h3>
            <a href="https://www.instagram.com/asha_7788?igsh=cjBjY2tweDBpYm9x"><span><i class="fa-brands fa-square-instagram"></i></span></a>
            <a href="https://www.youtube.com/@ashashaik3713"><span><i class="fa-brands fa-youtube"></i></span></a>
            <a href="https://wa.me/qr/OBQILNKG7VAFI1"><span><i class="fa-brands fa-square-whatsapp"></i></span></a>
        </div>
        </div>
        <div class="col-md-3 bg-dark text-white mt-2">
            <h3 class='text-center'>Our Pages:</h3>
            <h6><a href="#">checkappointment</a></h6>
            <h6><a href="#">checkstatus</a></h6>
            <h6><a href="#">doctorsdetails</a></h6>
            <h6><a href="#">mainpage</a></h6>
            <h6><a href="#">myhistory</a></h6>
            <h6><a href="#">patientspage</a></h6>
            <h6><a href="#">takeAppointment</a></h6>
        </div>
      </div>
    </div>
  </body>
</html>
